.popup-wrapper {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  top: 0;
  left: 0;
  z-index: 9999;
}

.popup-wrapper .content {
  position: relative;
  width: 100vw;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  padding: 30px;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 5px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, .5),
    rgba(0, 0, 0, 0.5)
  ), url(https://votaporlosbosques.org/images/gp-bosques-header.jpg);
  background-position-y: center;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 10px rgba(0,0,0,.4);
}

.popup-wrapper .content h1 {
  width: 100%;
  font-size: 30px;
  line-height: 120%;
  margin-bottom: 10px;
  text-shadow: 1px 1px 10px rgba(0,0,0,.4);
}

.popup-wrapper .content h1.highlighted {
  color: #3e1;
}

.popup-wrapper .content p {
  color: white;
}

.popup-wrapper .content .btn-cta {
  background: #3e1;
  width: fit-content;
  border: none;
  padding: 6px 14px;
  margin-top: 100px;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 1px 1px 10px rgba(0,0,0,.4);
  display: inline-block;
  color: white;
  font-family: 'Roboto';;
}

.popup-wrapper .content .btn-cta:hover {
  text-decoration: none;
  color: white;
  background: #2ed60f;
}

.popup-wrapper .content .x-button {
  position: absolute;
  right: 20px;
  top: 20px;
  font-family: "Roboto";
  font-size: 20px;
  color: white;
  font-family: 'Roboto';
  cursor: pointer;
}

@media (min-width: 600px)  {
  .popup-wrapper .content {
    width: 500px;
  }
}
