{% if post.password_required %}
		{% set custom_title = site.name %}
		{% set post_tags = '' %}
{% elseif wp_title %}
	{% set custom_title = site.name~' | '~wp_title|e('esc_html')|raw  %}
{% elseif (post.title) %}
	{% set custom_title = site.name~' | '~post.title  %}
{% else %}
	{% set custom_title = site.name %}
{% endif %}

<title>{{ custom_title }}</title>